* { box-sizing: border-box; margin:0; padding:0;}

header {
  height: 100px;
  width: 100%;
  background: linear-gradient(to right,
  #FF314E, 
  #7B31FF);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding: 50px;
  
}
#logo {
  height: 170px;
  width: 150px;
}

#list ul li {
  display: inline-block;
  color: white;
  margin-left: 15px;
  font-size: 20px;
  font-weight: 700;
  width: fit-content;
}
#list ul li:hover {
  border-bottom: 1px solid white;
}

#text {
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  background: transparent;
}
#text:hover {
  border: 1px solid white;
  height: 23px;
}
#icon {
 margin-left: 5px;
 color: white;
 font-size: 23px;
}

nav {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('sl1.jpg');
  background-size: cover;
  animation: a 15s infinite;
}
@keyframes a {
  0% {
    background-image: url('sl2.jpg');
  }
  25% {
    background-image: url('sl3.jpg');
  }
  50% {
    background-image: url('sl4.jpg');
  }
  
}
 
 nav section {
   text-align: center;
   width: 700px;
 }

nav section h1 {
  color: white;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 20px;
}

nav section p {
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 1.8;
}

#login {
  background: #fe3b9b;
  width: 70px;
  height: 30px;
  border: none;
  border-radius: 10px;
  transition:0.7s ease ;
}
#login:hover {
  transform: scale(1.1);
  
}

@media (max-width: 400px) {
  header {
    height: auto;
    flex-wrap: wrap;
    text-align: center;
  }
  #list, #logo, #search {
    width: 100%;
    margin: 30px 0;
    font-size: 50px;
  
  }
  #list ul li {
    transition: 0.7s ease;
  }
  #list ul li:hover {
    transform: scale(1.1);
    border: none;
  }
  #logo {
    height: 250px;
    margin-bottom: 0;
  }
  #text:hover{
    height: 30px;
    text-align: center;
  }
  
}
